html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
    width: 90%;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}
li{
    list-style: none;
}
.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

@media(max-width:768px) {
	.nav li > form {
	    padding: 3px;
	}
}

.nav > li > form > button:hover {
    text-decoration: none;
}
.images{
    height: 200px;
    overflow: hidden;
    width: 100%;
}
.images img{
    width: 100%;
    height: auto;
}


/*Cart item */
.cart_items{
    display: inherit;
    width: 80%;
}
th,td{
    text-align: center;
}
td{
    vertical-align: middle!important;
}
td .cart_remove a{
    font-size: 20px;
    color: #9d9d9d;
}
.cart_item_quanlity{
    font-size: 20px;
}
.cart_items .images{
    width: 100%;
    height:auto;
}
.cart_items .thumbnail{
    float: left;
    height: auto;
    width: 25%;
    padding: 10px;
    margin-bottom: 0px;
}
.cart_items .caption{
    float: left;
    width: 75%;
    padding: 10px;
}
.cart_item_action{

}
.cart_item_action li{
    float: left;
    margin-right: 30px;
    list-style: none;
    border: 1px solid;
    font-size: 21px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.cart_item_price{
    font-size: 18px;
}
.cart_total_price{
    font-size: 20px;
    font-weight: bold;
    color: red;
}
.next_action{
    float: right;
}
.next_action li button{
    width: 300px;
    margin-bottom: 10px;
}
.preview_image {
    float: left;
    width: 330px;
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display: block;
}
.preview-small {
    display: block;
    width: 100%;
    margin-top: 10px;
    position: relative;
}
.thum-image {
    position: relative;
    width: 240px;
    margin: 15px auto 5px;
}
.thum-image li {
    float: left;
    width: 57px;
    height: 57px;
    padding: 5px;
    display: inline-block;
    width: 60px;
}
.thum-image .control-left, .thum-image .control-right {
    position: absolute;
    top: 20px;
    left: -20px;
    font-size: 20px;
    color: #b0b0b0;
}
.thum-image .control-right {
    left: auto;
    right: -20px;
}
.products-details{
  float: inherit;
}
.products-description {
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    display: block;
    margin: 15px 0 15px 360px;
    padding: 20px;
    position: relative;
    overflow: hidden;
}
.products-description .qty form input {
    margin-left: 30px;
}
.products-description .qty form input {
    padding: 6px;
    border: 1px solid #e7e7e7;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-left: 10px;
    color: #f7544a;
    min-width: 60px;
}
.products-description .button_group {
    float: right;
}
.button, button {
    background: #fff;
    padding: 10px 20px;
    border: 1px solid #cccccc;
    font-size: 14px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    outline: none;
}
.products-description .name {
    font-weight: 400;
    margin-bottom: 15px;
}
.products-description .price {
    font-weight: 400;
    width: 100%;
    font-size: 13px;
    vertical-align: middle;
}
.products-description .price .new_price {
    font-size: 30px;
    color: #ff3636;
    font-weight: 500;
    margin-left: 30px;
}
.products-description .old_price {
    color: #666666;
    font-size: 18px;
    text-decoration: line-through;
    margin-left: 30px;
}
.wided {
    float: left;
    position: relative;
    width: 100%;
}
.products-description .button_group {
    float: right;
}
.products-description .qty {
    float: left;
    font-weight: 400;
    width: auto;
    font-size: 13px;
    vertical-align: middle;
}
img {
    max-width: 80%;
    display: block;
    margin: auto;
    height: auto;
}
.disabled {
        pointer-events: none;
        cursor: default;
        opacity: 0.6;
}
